/* Estilos para móviles */
@media only screen and (max-width: 400px) {
 h1{
color: black;
 }
}
/* Estilos para tablet */
@media only screen and (min-width: 500px) and
(max-width: 960px) {
 h1{
color: blue;
 }
}
/* Estilos para desktop */
@media only screen and (min-width: 800px) {
 h1 {
color: red;
 }
}
