.page{
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.section{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu{
  /* width: 100%; */
  height: 50px;
  background-color: blue;
}

.header{
  /* width: 100%; */
  height: 100px;
  background-color: lightblue;
}

.content{
  /* width: 100%; */
  height: 200px;
  background-color: grey;
}

.sign-up{
  /* width: 100%; */
  height: 80px;
  background-color: lightgrey;
}

.feature-1{
  /* width: 100%; */
  height: 50px;
  background-color: orange;
}

.feature-2{
  /* width: 100%; */
  height: 50px;
  background-color:red ;
}

.feature-3{
  /* width: 100%; */
  height: 50px;
  background-color: purple;
}

@media only screen and (min-width: 100px) and (max-width: 768px) {
  .sign-up,
  .feature-1,
  .feature-2,
  .feature-3{
    height: 80px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
  .sign-up,
  .feature-1,
  .feature-2,
  .feature-3{
    width: 50%;
    height: 150px;
  }
}

@media only screen and (min-width: 1025px){
  .page{
    width: 100%;
    margin : 0 auto;
  }

  .feature-1,
  .feature-2,
  .feature-3{
    width: 33.3%;
    height: 400px;
  }

  .header{
    height: 400px;
  }

 .sign-up{
    height: 150px;
    order: 1;
  }

  .content{
    order: 2;
  }

}
