
body {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav main ads"
    "footer footer footer";
  grid-template-rows: 80px 1fr 70px;
  grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  }
header, footer, main, nav, div {
  padding: 1.2em;
  background: lightgreen;
  }

.articleSection{
  display: grid;
  grid-template-areas:
    "article article"
    "article article";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-top: 1em;
    text-align: center;
}
main h2{
  text-align: center;
}
article{
  margin-top:2em;
}

#pageHeader {
  grid-area: header;
  }
#pageFooter {
  grid-area: footer;
  }
#mainSection {
  grid-area: main;
  }
#mainNav {
  grid-area: nav;
  }
#siteAds {
  grid-area: ads;
  }
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body {
    grid-template-areas:
      "header"
      "main"
      "ads"
      "nav"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;
    grid-template-columns: 1fr;
 }
}
