
ul{
  display:flex;
  justify-content: space-between;
  padding:0;
  list-style: none;
}
ul li{
  background: rgba(123,198,199,0.8);
  flex-grow: 1;
  margin-right: 1px;
}
ul a, ul a:link{
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  padding: 8px;
  display:block;
}
a:hover{
  background-color: darkblue;
  color: white;
}
